{{#partial "titulo"}}
    {{#if entidad}}
        Modificar
    {{else}}
        Nueva
    {{/if}}
    entidad base
{{/partial}}

{{#partial "contenido"}}
<div>
    <form method="post" action="/entidadesBase{{#if entidad}}/{{entidad.id}}{{/if}}">
        <div class="row">
            <div class="col-md-6">
                <label>Descripción</label>
                <input type="text" class="form-control" placeholder="Descripción" name="descripcion" value="{{entidad.descripcion}}" required>
            </div>
            <div class="col-md-6">
                <label>Nombre ficticio</label>
                <input type="text" class="form-control" placeholder="Nombre ficticio" name="nombreFicticio" value="{{entidad.nombreFicticio}}" required>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <label>Categoría</label>
                <select class="form-control" name="categoria_id">
                  {{#with categoriaSeleccionada}}
                    <option value="{{id}}" selected hidden>{{nombre}}</option>
                  {{/with}}
                  {{#each categorias}}
                  <option value="{{id}}">{{nombre}}</option>
                  {{/each}}
                </select>
            </div>
            <div class="col-md-6">
                <label>Entidad jurídica a la que pertenece</label>
                <select class="form-control" name="entidad_juridica_id">
                  {{#with entidadJuridicaSeleccionada}}
                    <option value="{{id}}" selected hidden>{{cuit}} - {{razonSocial}}</option>
                  {{/with}}
                  {{#each entidadesJuridicas}}
                  <option value="{{id}}">{{cuit}} - {{razonSocial}}</option>
                  {{/each}}
                </select>
            </div>
        </div>
        <div class="w-100 mt-4 text-right">
            <div>
                <a href="/entidadesBase" class="btn btn-secondary">Cancelar</a>
                <input type="submit" class="btn btn-info ml-4" value="{{#if entidad}}Modificar{{else}}Nueva{{/if}} entidad">
            </div>
        </div>
    </form>
</div>

{{/partial}}


{{>logged-layout.hbs}}